.navbar{
    background-color: rgb(76, 167, 129);
    margin: 0;
    display: block;
    display: flex;
    flex-direction: row;
    height: 48px;
}
.navlinks:hover{
    background-color: greenyellow;
}
.navlinks{
    list-style-type: none;
    margin: 0 2vw;
    padding-top: 15px;
    text-decoration: none;
    color: rgba(5, 5, 5, 0.589);
    font-family: monospace;
}
/** To make the Navbar width full **/
body{
    margin: 0px;
}